body {
    max-width:max-content;
    margin: 0 auto;
}
.title {
    background-color: burlywood;
    text-align: center;
}

.one-line,
.two-line {
    text-align: center;
    font-family: 'Times New Roman';
}
.one-line {
    font-size:30px;
}

.two-line {
    font-size: 24px;
}

.buttons {
    background: burlywood;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width:200px;
    text-align: center;
    font-weight: bold;
}

div {
    text-align: center;
}

.hs {
    color:chocolate;
    text-align: center;
}

.sbut {
    background:chocolate;
    border: 2px solid black;
    padding: 5px;
    margin: 10px;
    width:auto;
    text-align: center;
    font-weight: bold;
}

.text {
    text-align:center;
}